@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Imprima&family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Imprima&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap');

$color-1: #00744d;
$color-2: #fff;
$color-3: #181818;
$color-4: #faab00;

// RESPONSIVE TAMAÑO FIJO
@mixin respond-to($size) {
    @if $size == small {
        @media (max-width: 600px) {
            @content;
        }
    }
    @else if $size == medium {
        @media (min-width: 601px) and (max-width: 1200px) {
            @content;
        }
    }
}
// RESPONSIVE TAMAÑO MÍNIMO
@mixin respond-to-min($size) {
    @if $size == medium {
        @media (min-width: 601px) {
            @content;
        }
    }
    @else if $size == large {
        @media (min-width: 1201px) {
            @content;
        }
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jura';
}

body {
    background-color: $color-3;
}

header {
    background-image: url('../../../img/fondo-huellas.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;

    .logo {
        width: 400px;
        margin: 10px;
    }

    .searchbar {
        
        display: none;

        width: 700px;
        height: 50px;
        border: 0;
        border-radius: 30px;
        padding-left: 30px;
        font-size: 1.2em;
        margin: 0 40px;
    }

    .actions {
        color: $color-2;  
        text-align: center;

        div {
            display: inline-block;
            width: 80px;
        }

        i {
            color: $color-2;
            font-size: 2.5em;
            margin-bottom: 5px;
        }
    }
}

hr {
    border: 1px solid $color-2;
}

main {
    padding: 40px 20px;

    .panel-control {
        background-color: $color-1;
        box-shadow: #000 0px 0px 15px 5px;
        text-align: center;
        border-radius: 5px;
        padding: 10px;
        margin: 0 auto;
        width: 80%;
        min-width: 450px;

        .section-header {
            padding: 10px;
            display: flex;
            align-items: end;
            gap: 20px;
            text-shadow: darken($color: $color-1, $amount: 15) 5px 5px 0px;
            color: $color-2;

            .engranaje {
                font-size: 4.5em;
                margin-top: 10px;
                margin-bottom: 5px;
            }

            h2 {
                font-size: 3em;
            }

            a {
                background-color: $color-2;
                color: $color-1;
                text-decoration: none;
                border-radius: 10px;
                font-size: 2em;
                padding: 10px 20px;
                text-shadow: none;
                font-weight: bold;
                margin-left: auto;
                margin-right: 10px;

                &:hover {
                    background-color: darken($color-1, 15%);
                    color: $color-2;
                    box-shadow: darken($color-1, $amount: 20%) 5px 5px 10px;
                }
            }
        }

        hr {
            color: $color-2;
            margin: 0px 20px;
        }

        table {
            margin: 20px auto;
            background-color: $color-2;
            color: $color-2;

            thead {
                background-color: #000;
            }

            tbody {
                tr:nth-child(odd) {
                    background-color: #acacac;
                    color: #000;
                }

                tr:nth-child(even) {
                    background-color: #464646;
                }
            }

            td {
                font-family: 'Inter';
                padding: 20px;
            }
        }
    }
}

footer {
    width: 100%;
    padding: 30px 15px;
    background: linear-gradient(#464646 0%, #242424 20%, #242424 80%, #161616 100%);

    .copy {
        display: flex;
        align-items: center;
        gap: 10px;
        text-shadow: #000000 3px 3px 10px;

        i {
            font-size: 3em;
        }

        p {
            display: inline;
            color: $color-2;
        }
    }

    
}