/* ===========================
    IMPORTS
=========================== */
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jura", sans-serif;
}

html, body {
  height: 100%;
}

body {
  padding-top: 120px;
  min-height: 100vh;
  background-color: #181818;
  display: flex;
  flex-direction: column;
}
body::-webkit-scrollbar {
  display: none;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  color: #fff;
  text-shadow: rgb(9.1456692913, 41.3543307087, 30.6181102362) 5px 5px 0;
}
.section-header .icono-header {
  font-size: 3em;
}
.section-header h2 {
  font-size: 2.5em;
}

hr {
  border: 1px solid #fff;
}

.paginador {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.paginador a {
  width: 40px;
  height: 40px;
  padding: 20px;
  background-color: rgb(13.7637795276, 62.2362204724, 46.0787401575);
  border-radius: 10px;
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}
.paginador a:hover:not(.activo) {
  background-color: #fa7900;
  transform: scale(1.2);
}
.paginador .activo {
  background-color: rgb(4.5275590551, 20.4724409449, 15.157480315);
  color: #17684d;
  font-weight: bold;
}
.paginador .icono-flecha {
  background-color: #fa7900;
  border: 2px solid #fff;
}

.boton-insertar {
  width: 100%;
  margin: 20px auto 0;
  padding: 10px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  background-color: #fff;
  color: #17684d;
  transition: 0.2s ease;
}
.boton-insertar:hover {
  background-color: #fa7900;
  color: #fff;
  box-shadow: rgb(4.5275590551, 20.4724409449, 15.157480315) 5px 5px 10px;
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../../../img/fondo-huellas.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid #fff;
}
header .logo {
  width: 400px;
  margin: 10px;
  transition: transform 0.2s ease;
}
@media (max-width: 670px) {
  header .logo {
    width: 178px;
  }
}
header .logo:hover {
  transform: scale(1.07) translateX(10px);
}
@media (min-width: 671px) {
  header .logo-small {
    display: none;
  }
}
@media (max-width: 670px) {
  header .logo-large {
    display: none;
  }
}
header .searchbar {
  display: none;
  width: 700px;
  height: 50px;
  border: 0;
  border-radius: 30px;
  padding-left: 30px;
  font-size: 1.2em;
  margin: 0 40px;
}
header .actions {
  color: #fff;
  text-align: center;
}
header .actions div {
  display: inline-block;
  width: 80px;
}
header .actions .icono-accion {
  color: #fff;
  font-size: 2.5em;
  margin-bottom: 5px;
  transition: 0.2s ease;
}
@keyframes salto-breve {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}
header .actions .icono-accion:hover {
  color: #fa7900;
  animation: salto-breve 0.3s ease-out forwards;
  text-shadow: #fff 4px 4px 0;
}
header .actions .icono-accion.is-active {
  color: #fa7900;
}
header .actions .dropdown {
  position: relative;
}
header .actions .dropdown .dropdown-btn {
  cursor: pointer;
}
header .actions .dropdown .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  width: 280px;
  flex-direction: column;
  box-shadow: #000 0px 0px 15px 5px;
  border: 2px solid rgb(199, 96.316, 0);
}
header .actions .dropdown .dropdown-content a {
  color: #fff;
  text-decoration: none;
  text-shadow: rgb(71.5, 34.606, 0) 2px 2px 0px;
  background: #fa7900;
  width: 100%;
  padding: 20px;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease;
}
header .actions .dropdown .dropdown-content a:hover {
  background-color: rgb(255, 173.472, 97);
}
header .actions .dropdown .dropdown-content .icono-dropdown {
  font-size: 1.5em;
}
header .actions .dropdown .dropdown-content hr {
  border: 1px solid rgb(199, 96.316, 0);
}
header .actions .dropdown .show {
  display: flex;
}

footer {
  width: 100%;
  padding: 30px 15px;
  background: linear-gradient(#464646 0%, #242424 20%, #242424 80%, #161616 100%);
}
footer .copy {
  display: flex;
  align-items: center;
  gap: 10px;
  text-shadow: 3px 3px 10px #000;
}
footer .copy i {
  font-size: 3em;
}
footer .copy p {
  color: #fff;
}

/* ===========================
    ALERTAS
=========================== */
.alerta {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5px 5px 20px;
  font-size: 1.5em;
  background: linear-gradient(#fff 0%, #fff 80%, #181818 100%);
}
.alerta i {
  font-size: 2em;
}
.alerta .check {
  color: #06bb00;
}
.alerta .exclamacion {
  color: #ffc505;
}
.alerta .xmark {
  color: #db0700;
}

/* ===========================
    MAIN
=========================== */
main {
  flex: 1;
  padding: 20px;
}
main .panel-control {
  width: 100%;
  margin: auto;
  padding: 20px;
  background-color: #17684d;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #000;
  display: flex;
  flex-direction: column;
}
main .panel-control .caja-overflow {
  margin-top: 20px;
  overflow-x: auto;
  border: 3px solid #fff;
}
main .panel-control .caja-overflow table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  text-align: center;
}
main .panel-control .caja-overflow table thead {
  height: 80px;
  background-color: #131313;
  color: #fff;
}
main .panel-control .caja-overflow table tbody tr:nth-child(odd) {
  background-color: #acacac;
  color: #000;
}
main .panel-control .caja-overflow table tbody tr:nth-child(odd) i {
  color: #000;
  transition: 0.2s ease;
}
main .panel-control .caja-overflow table tbody tr:nth-child(odd) i:hover {
  text-shadow: #fff 3px 3px 0px;
}
main .panel-control .caja-overflow table tbody tr:nth-child(even) {
  background-color: #464646;
  color: #fff;
}
main .panel-control .caja-overflow table tbody tr:nth-child(even) i {
  color: #fff;
  transition: 0.2s ease;
}
main .panel-control .caja-overflow table tbody tr:nth-child(even) i:hover {
  text-shadow: #000 3px 3px 0px;
}
main .panel-control .caja-overflow table th, main .panel-control .caja-overflow table td {
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
  white-space: nowrap;
  border: 1px solid #000;
}
main .panel-control .caja-overflow table th a, main .panel-control .caja-overflow table td a {
  text-decoration: none;
}
main .panel-control .caja-overflow table th a i, main .panel-control .caja-overflow table td a i {
  font-size: 1.5em;
}/*# sourceMappingURL=gestion_clientes.css.map */