@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Imprima&family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Imprima&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap');

$color-1: #00744d;
$color-2: #fff;
$color-3: #181818;
$color-4: #faab00;

// RESPONSIVE TAMAÑO FIJO
@mixin respond-to($size) {
    @if $size == small {
        @media (max-width: 600px) {
            @content;
        }
    }
    @else if $size == medium {
        @media (min-width: 601px) and (max-width: 1200px) {
            @content;
        }
    }
}
// RESPONSIVE TAMAÑO MÍNIMO
@mixin respond-to-min($size) {
    @if $size == medium {
        @media (min-width: 601px) {
            @content;
        }
    }
    @else if $size == large {
        @media (min-width: 1201px) {
            @content;
        }
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jura';
}

html, body {
    height: 100%;
}

body {
    background-color: $color-3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-image: url('../../../img/fondo-huellas.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;

    .logo {
        width: 400px;
        margin: 10px;
    }

    .actions {
        color: $color-2;  
        text-align: center;

        div {
            display: inline-block;
            width: 80px;
        }

        i {
            color: $color-2;
            font-size: 2.5em;
            margin-bottom: 5px;
        }
    }
}

hr {
    border: 1px solid $color-2;
}

main {
    flex: 1;
    padding: 40px 20px;

    .panel-control {
        background-color: $color-1;
        box-shadow: #000 0px 0px 15px 5px;
        border-radius: 5px;
        padding: 20px;
        margin: auto;
        width: 90%;
        display: flex;
        flex-direction: column;

        .section-header {
            padding: 10px 0px;
            display: flex;
            align-items: center;
            gap: 20px;
            text-shadow: darken($color: $color-1, $amount: 15) 5px 5px 0px;
            color: $color-2;

            .suma {
                font-size: 3em;
                margin: 5px 0px;
            }

            h2 {
                font-size: 2.5em;
            }
        }

        hr {
            color: $color-2;
        }
        
        form {
            
            margin-top: 20px;
            background-color: darken($color-1, $amount: 10);
            border-radius: 10px;
            padding: 20px;

            @mixin input {
                width: 100%;
                min-width: 300px;
                max-width: 400px;
                padding: 15px 20px;
                border: 0;
                border-radius: 15px;
                font-size: 1.2em;
            }

            .form {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 20px;

                .casilla {
                    @include input;
                    color: $color-2;
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    background-color: darken($color-1, $amount: 15);

                    label {
                        margin: 10px 20px; 
                    }

                    input {
                        @include input;
                        @include respond-to-min(medium) {
                        }
                    }

                    .genero {
                        background-color: $color-2;
                        appearance: none;
                        @include input;
                    }
                }
            }

            .guardar {
                @include input;
                cursor: pointer;
                background-color: $color-4;
                color: $color-2;
                margin: 50px auto 0;
                display: block;
            }
        }
    }
}

footer {
    width: 100%;
    padding: 30px 15px;
    background: linear-gradient(#464646 0%, #242424 20%, #242424 80%, #161616 100%);

    .copy {
        display: flex;
        align-items: center;
        gap: 10px;
        text-shadow: #000000 3px 3px 10px;

        i {
            font-size: 3em;
        }

        p {
            display: inline;
            color: $color-2;
        }
    }
}