/* ===========================
    IMPORTS
=========================== */
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jura", sans-serif;
}

html, body {
  height: 100%;
}

body {
  padding-top: 120px;
  min-height: 100vh;
  background-color: #181818;
  display: flex;
  flex-direction: column;
}
body::-webkit-scrollbar {
  display: none;
}

hr {
  border: 1px solid #fff;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../../../img/fondo-huellas.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid #fff;
}
header .logo {
  width: 400px;
  margin: 10px;
  transition: transform 0.2s ease;
}
@media (max-width: 670px) {
  header .logo {
    width: 178px;
  }
}
header .logo:hover {
  transform: scale(1.07) translateX(10px);
}
@media (min-width: 671px) {
  header .logo-small {
    display: none;
  }
}
@media (max-width: 670px) {
  header .logo-large {
    display: none;
  }
}
header .searchbar {
  display: none;
  width: 700px;
  height: 50px;
  border: 0;
  border-radius: 30px;
  padding-left: 30px;
  font-size: 1.2em;
  margin: 0 40px;
}
header .actions {
  color: #fff;
  text-align: center;
}
header .actions div {
  display: inline-block;
  width: 80px;
}
header .actions .icono-accion {
  color: #fff;
  font-size: 2.5em;
  margin-bottom: 5px;
  transition: 0.2s ease;
}
header .actions .icono-accion:hover {
  color: #fa7900;
  transform: translateY(-5px);
}
header .actions .icono-accion.is-active {
  color: #fa7900;
}
header .actions .dropdown {
  position: relative;
}
header .actions .dropdown .dropdown-btn {
  cursor: pointer;
}
header .actions .dropdown .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  width: 250px;
  flex-direction: column;
  box-shadow: #000 0px 0px 15px 5px;
  border: 2px solid rgb(199, 96.316, 0);
}
header .actions .dropdown .dropdown-content a {
  color: #fff;
  text-decoration: none;
  text-shadow: rgb(71.5, 34.606, 0) 2px 2px 0px;
  background: #fa7900;
  width: 100%;
  padding: 20px;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease;
}
header .actions .dropdown .dropdown-content a:hover {
  background-color: rgb(255, 173.472, 97);
}
header .actions .dropdown .dropdown-content .icono-dropdown {
  font-size: 1.5em;
}
header .actions .dropdown .dropdown-content hr {
  border: 1px solid rgb(199, 96.316, 0);
}
header .actions .dropdown .show {
  display: flex;
}

footer {
  width: 100%;
  padding: 30px 15px;
  background: linear-gradient(#464646 0%, #242424 20%, #242424 80%, #161616 100%);
}
footer .copy {
  display: flex;
  align-items: center;
  gap: 10px;
  text-shadow: 3px 3px 10px #000;
}
footer .copy i {
  font-size: 3em;
}
footer .copy p {
  color: #fff;
}

/* ===========================
    MIXINS
=========================== */
/* ===========================
    MAIN
=========================== */
main {
  flex: 1;
  padding: 20px;
}
main .panel-control {
  width: 90%;
  margin: auto;
  padding: 20px;
  background-color: #17684d;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #000;
  display: flex;
  flex-direction: column;
}
main .panel-control .section-header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  color: #fff;
  text-shadow: rgb(9.1456692913, 41.3543307087, 30.6181102362) 5px 5px 0;
}
main .panel-control .section-header .icono-header {
  font-size: 3em;
}
main .panel-control .section-header h2 {
  font-size: 2.5em;
}
main .panel-control form {
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(13.7637795276, 62.2362204724, 46.0787401575);
  border-radius: 10px;
}
main .panel-control form .form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
main .panel-control form .form .casilla {
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  padding: 15px 20px;
  border: 0;
  border-radius: 15px;
  font-size: 1.2em;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(9.1456692913, 41.3543307087, 30.6181102362);
  color: #fff;
}
main .panel-control form .form .casilla label {
  margin: 10px 20px;
}
main .panel-control form .form .casilla input {
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  padding: 15px 20px;
  border: 0;
  border-radius: 15px;
  font-size: 1.2em;
}
main .panel-control form .form .casilla .seleccion {
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  padding: 15px 20px;
  border: 0;
  border-radius: 15px;
  font-size: 1.2em;
  background-color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
main .panel-control form .guardar {
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  padding: 15px 20px;
  border: 0;
  border-radius: 15px;
  font-size: 1.2em;
  display: block;
  margin: 50px auto 0;
  cursor: pointer;
  background-color: #fa7900;
  color: #fff;
  font-weight: bold;
}/*# sourceMappingURL=ins_cliente.css.map */