/* ===========================
    IMPORTS
=========================== */
@import '../../variables';
@import '../../mixins';
@import '../../comun';
@import '../../footer';
@import '../../header';

.carrito i { color: $color-accent !important; }

main {
    flex: 1;
    padding: 20px;
}

section {
    background-color: $color-primary;
    box-shadow: #000 0px 0px 15px 5px;
    border-radius: 5px;
    min-width: 450px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;

    article {
        margin: 20px 0;
        padding: 10px;
        border-radius: 5px;
        background-color: darken($color-primary, $amount: 10);
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;

        .linea-pedido {
            background-color: $color-dark;
            padding: 10px;
            margin: auto;
            width: 100%;
            max-width: 1000px;
            color: $color-light;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 20px;
            font-size: 2em;

            img {
                width: 100px;
                aspect-ratio: 1 / 1;
                object-fit: cover;
            }

            .prod-nombre {
                align-self: flex-start;
            }

            .prod-precio {
                margin-left: auto;
                text-wrap: nowrap;
                align-self: flex-end;
            }

            a {
                align-self: flex-end;
            }
        }
    }
}