@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jura', sans-serif;
}

html, body { height: 100%; }

body {
    padding-top: 120px;
    min-height: 100vh;
    background-color: $color-dark;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar { display: none; }
}

.section-header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    color: $color-light;
    text-shadow: darken($color-primary, 15%) 5px 5px 0;

    .icono-header { font-size: 3em; }

    h2 { font-size: 2.5em; }
}

hr { border: 1px solid $color-light; }

.paginador {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;

    a {
        width: 40px;
        height: 40px;
        padding: 20px;
        background-color: darken($color: $color-primary, $amount: 10);
        border-radius: 10px;
        color: $color-light;
        font-size: 1.5em;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s ease;

        &:hover:not(.activo) {
            background-color: $color-accent;
            transform: scale(1.2);
        }
    }

    .activo {
        background-color: darken($color-primary, $amount: 20);
        color: $color-primary;
        font-weight: bold;
    }

    .icono-flecha {
        background-color: $color-primary;
        border: 2px solid $color-light;
    }
}

.boton-insertar {
    width: 100%;
    margin: 20px auto 0;
    padding: 10px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: $color-light;
    color: $color-primary;
    transition: 0.2s ease;

    &:hover {
        background-color: $color-accent;
        color: $color-light;
        box-shadow: darken($color-primary, 20%) 5px 5px 10px;
    }
}

.p-card {
    background-color: darken($color-primary, $amount: 15);
    box-shadow: darken($color-primary, $amount: 20) 0px 0px 10px 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    .dropdown-btn {
        width: 180px;
        border-radius: 8px;
        margin: 5px;
        cursor: pointer;
        transition: 0.2s ease;

        &:hover {
            transform: scale(1.05);
        }
    }

    .dropdown-content {
        display: none;
        flex-direction: column;
        box-shadow: #000 0px 0px 15px 5px;
        border: 2px solid darken($color-accent, $amount: 10);

        &.show {
            display: flex !important;
        }
    
        p {
            color: $color-light;
            text-decoration: none;
            text-shadow: darken($color-accent, $amount: 35) 2px 2px 0px;
            background: $color-accent;
            width: 100%;
            padding: 20px;
            font-size: 1.2em;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: 0.2s ease;

            &:hover { background-color: lighten($color-accent, $amount: 20); }
        }

        hr { border: 1px solid darken($color-accent, $amount: 10); }
    }   

    p {
        color: $color-light;
        padding: 5px;
    }

    .prod-nombre {
        font-weight: bold;
        font-style: italic;
    }

    .prod-precio {
        font-size: 1.2em;
    }

    .btn-agregar-carrito {
        background-color: $color-accent;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $color-light;
        transition: 0.2s ease;

        &:hover {
            transform: scale(1.05);
            background-color: lighten($color-accent, $amount: 10);
        }

        p {
            font-weight: bold;
        }
    }
}