@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Imprima&family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Imprima&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap');

$color-1: #00744d;
$color-2: #fff;
$color-3: #181818;
$color-4: #faab00;

// RESPONSIVE TAMAÑO FIJO
@mixin respond-to($size) {
    @if $size == small {
        @media (max-width: 600px) {
            @content;
        }
    }
    @else if $size == medium {
        @media (min-width: 601px) and (max-width: 1200px) {
            @content;
        }
    }
}
// RESPONSIVE TAMAÑO MÍNIMO
@mixin respond-to-min($size) {
    @if $size == medium {
        @media (min-width: 601px) {
            @content;
        }
    }
    @else if $size == large {
        @media (min-width: 1201px) {
            @content;
        }
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jura';
}

body {
    background-color: $color-3;
}

header {
    background-image: url('../../../img/fondo-huellas.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;

    .logo {
        width: 400px;
        margin: 10px;
    }

    .searchbar {
        
        display: none;

        width: 700px;
        height: 50px;
        border: 0;
        border-radius: 30px;
        padding-left: 30px;
        font-size: 1.2em;
        margin: 0 40px;
    }

    .actions {
        color: $color-2;  
        text-align: center;

        div {
            display: inline-block;
            width: 80px;
        }

        i {
            color: $color-2;
            font-size: 2.5em;
            margin-bottom: 5px;
        }

        p {
            margin-top: 50px;
        }

        .perfil {
            i {
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(-15px, 27px);
                z-index: 1;
            }

            .dropdown-toggle {
                position: relative;
                width: 35px;
                height: 40px;
                margin-bottom: 2px;
                cursor: pointer;
                appearance: none;
                z-index: 2;
            }

            .dropdown-content {
                display: none;
            }

            #dropdown-toggle:checked ~ .dropdown-content {
                display: flex;
                position: absolute;
                width: 180px;
                top: 40;
                right: 0;
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                box-shadow: #000 0px 0px 15px 5px;

                a {
                    color: $color-2;
                    text-decoration: none;
                    text-shadow: #000 2px 2px 0px;
                    background-color: $color-4;
                    width: 100%;
                    padding: 20px;
                    font-weight: bold;

                    &:hover {
                        background-color: lighten($color-4, 20%);                        
                    }
                }
            }
        }
        
    }
}

hr {
    border: 1px solid $color-2;
}

main {
    padding: 40px 20px;

    .panel-control {
        background-color: $color-1;
        box-shadow: #000 0px 0px 15px 5px;
        text-align: center;
        border-radius: 5px;
        padding: 10px;

        .section-header {
            padding: 10px;
            display: flex;
            align-items: end;
            gap: 20px;
            text-shadow: darken($color: $color-1, $amount: 15) 5px 5px 0px;
            color: $color-2;

            i {
                font-size: 4.5em;
                margin-top: 10px;
                margin-bottom: 5px;
            }

            h2 {
                font-size: 3em;
            }
        }

        hr {
            color: $color-2;
            margin: 0px 20px;
        }

        article {
            margin: 20px;
            padding: 20px;
            border-radius: 5px;
            background-color: darken($color: $color-1, $amount: 10);
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }
}

footer {
    width: 100%;
    padding: 30px 15px;
    background: linear-gradient(#464646 0%, #242424 20%, #242424 80%, #161616 100%);

    .copy {
        display: flex;
        align-items: center;
        gap: 10px;
        text-shadow: #000000 3px 3px 10px;

        i {
            font-size: 3em;
        }

        p {
            display: inline;
            color: $color-2;
        }
    }

    
}