@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Imprima&family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Imprima&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap');

$color-1: #00744d;
$color-2: #fff;
$color-3: #181818;
$color-4: #faab00;

// RESPONSIVE TAMAÑO FIJO
@mixin respond-to($size) {
    @if $size == small {
        @media (max-width: 600px) {
            @content;
        }
    }
    @else if $size == medium {
        @media (min-width: 601px) and (max-width: 1200px) {
            @content;
        }
    }
}
// RESPONSIVE TAMAÑO MÍNIMO
@mixin respond-to-min($size) {
    @if $size == medium {
        @media (min-width: 601px) {
            @content;
        }
    }
    @else if $size == large {
        @media (min-width: 1201px) {
            @content;
        }
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jura';
}

html, body {
    height: 100%;
}

body {
    background-color: $color-3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-image: url('../../../img/fondo-huellas.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;

    .logo {
        width: 400px;
        margin: 10px;
    }

    .searchbar {
        
        display: none;

        width: 700px;
        height: 50px;
        border: 0;
        border-radius: 30px;
        padding-left: 30px;
        font-size: 1.2em;
        margin: 0 40px;
    }

    .actions {
        color: $color-2;  
        text-align: center;

        div {
            display: inline-block;
            width: 80px;
        }

        i {
            color: $color-2;
            font-size: 2.5em;
            margin-bottom: 5px;
        }
    }
}

hr {
    border: 1px solid $color-2;
}

main {
    flex: 1;
    padding: 40px 20px;

    .panel-control {
        background-color: $color-1;
        box-shadow: #000 0px 0px 15px 5px;
        border-radius: 5px;
        padding: 20px;
        margin: auto;
        width: 90%;
        min-width: 450px;

        .section-header {
            padding: 10px 0px;
            display: flex;
            align-items: center;
            gap: 20px;
            text-shadow: darken($color-1, 15%) 5px 5px 0px;
            color: $color-2;

            .engranaje {
                font-size: 3em;
                margin-bottom: 5px 0px;
            }

            h2 {
                font-size: 3em;
            }
        }

        hr {
            color: $color-2;
            margin: 0px 20px;
        }

        article {
            margin: 20px;
            padding: 5px;
            border-radius: 5px;
            background-color: darken($color-1, 10%);
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .boton {
                background-color: $color-2;
                width: 300px;
                height: 300px;
                margin: 20px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 20px;
                color: darken($color-1, 10%);
                cursor: pointer;
                text-decoration: none;
                font-size: 2em;
                font-weight: bold;
                text-shadow: darken($color-2, 25%) 3px 3px 0px;
                box-shadow: darken($color-1, 15%) 7px 7px 0px;
                transition: font-size 0.2s ease;

                i {
                    font-size: 3em;
                }

                &:hover {
                    color: $color-1;
                    font-size: 2.7em;
                }
            }
        }
    }
}

footer {
    width: 100%;
    padding: 30px 15px;
    background: linear-gradient(#464646 0%, #242424 20%, #242424 80%, #161616 100%);

    .copy {
        display: flex;
        align-items: center;
        gap: 10px;
        text-shadow: #000000 3px 3px 10px;

        i {
            font-size: 3em;
        }

        p {
            display: inline;
            color: $color-2;
        }
    }
}