/* ===========================
    IMPORTS
=========================== */
@import '../../variables';
@import '../../comun';
@import '../../mixins';
@import '../../header';
@import '../../footer';

/* ===========================
    MAIN
=========================== */
main {
    flex: 1;
    padding: 20px;

    .panel-control {
        width: 90%;
        min-width: 450px;
        margin: auto;
        padding: 20px;
        background-color: $color-primary;
        border-radius: 5px;
        box-shadow: 0 0 15px 5px #000;

        article {
            margin-top: 20px;
            padding: 5px;
            background-color: darken($color-primary, 10%);
            border-radius: 5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .boton {
                width: 350px;
                height: 350px;
                margin: 20px;
                background-color: $color-light;
                color: darken($color-primary, 10%);
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                font-size: 2.7em;
                font-weight: bold;
                text-decoration: none;
                cursor: pointer;
                text-shadow: darken($color-light, 25%) 3px 3px 0;
                box-shadow: darken($color-primary, 15%) 7px 7px 0;
                transition: font-size 0.2s ease, color 0.2s ease, background-color 0.1s linear, text-shadow 0.2s ease;

                &:hover {
                    color: $color-light;
                    font-size: 3.5em;
                    background-color: $color-accent;
                    text-shadow: darken($color-accent, $amount: 10%) 5px 5px 0;
                }

                i { font-size: 3em; }
            }
        }
    }
}