/* ===========================
    IMPORTS
=========================== */
@import '../../variables';
@import '../../mixins';
@import '../../comun';
@import '../../footer';
@import '../../header';


nav {
    background-color: $color-light;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid $color-light;
    @include respond-to(small) { display: none; }

    ul {
        list-style-type: none;
        gap: 3px;
        display: none;
        border-bottom: 1px solid $color-light;
        @include respond-to(medium_large) {
            display: flex;
            justify-content: center;
        }

        a {
            text-decoration: none;
            color: $color-dark;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 30px;
            transition: 0.2s ease-out;

            &:hover {
                color: $color-light;
                background-color: $color-accent;
            }
        }
    }
}


main {
    flex: 1;
    padding: 20px;
    @include respond-to(large) {
        margin-top: 0;
    }

    section {
        background-color: $color-primary;
        box-shadow: #000 0px 0px 15px 5px;
        border-radius: 5px;
        min-width: 450px;
        padding: 20px;
        margin: auto;
        display: flex;
        flex-direction: column;

        article {
            margin: 20px 0;
            padding: 10px;
            border-radius: 5px;
            background-color: darken($color-primary, $amount: 10);
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 15px;
            width: 100%;
        }

        .boton-todo {
            color: $color-light;
            font-size: 2em;
            margin: auto;
            padding-top: 20px;
            display: flex;
            align-items: center;

            i {
                font-size: 2em;
            }
        
            a {
                color: $color-primary;
                padding: 10px;
                text-decoration: none;
                background-color: $color-light;
                border-radius: 10px;
                font-weight: bold;
                transition: 0.2s ease;

                &:hover {
                    background-color: $color-accent;
                    color: $color-light;
                    box-shadow: darken($color-primary, $amount: 20) 5px 5px 10px;
                }
            }
        }
    }
}