/* ===========================
    IMPORTS
=========================== */
@import '../../variables';
@import '../../comun';
@import '../../mixins';
@import '../../footer';



header {
    position: fixed;
    top: 0;
    width: 100%;
    background-image: url('../../../img/fondo-huellas.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    border-bottom: 2px solid $color-light;

    .logo {
        width: 400px;
        margin: 10px;
    }

    .searchbar {
        
        display: none;

        width: 700px;
        height: 50px;
        border: 0;
        border-radius: 30px;
        padding-left: 30px;
        font-size: 1.2em;
        margin: 0 40px;
    }

    .actions {
        color: $color-light;  
        text-align: center;

        div {
            display: inline-block;
            width: 80px;
        }

        i {
            color: $color-light;
            font-size: 2.5em;
            margin-bottom: 5px;
        }

        .carrito, .favoritos {
            @include respond-to(small_medium) {
                display: none;
            }
        }

        .perfil {
            i {
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(-15px, 27px);
                z-index: 1;
            }

            .dropdown-toggle {
                position: relative;
                width: 35px;
                height: 40px;
                margin-bottom: 2px;
                cursor: pointer;
                appearance: none;
                z-index: 2;
            }

            .dropdown-content {
                display: none;
            }

            #dropdown-toggle:checked ~ .dropdown-content {
                display: flex;
                position: absolute;
                width: 180px;
                top: 40;
                right: 0;
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                box-shadow: #000 0px 0px 15px 5px;
                border: 2px solid darken($color-accent, $amount: 10);

                a {
                    color: $color-light;
                    text-decoration: none;
                    text-shadow: darken($color-accent, $amount: 25) 2px 2px 0px;
                    background-color: $color-accent;
                    width: 100%;
                    padding: 20px;
                    font-weight: bold;

                    &:hover {
                        background-color: lighten($color-accent, $amount: 20);                        
                    }
                }

                hr {
                    border: 1px solid darken($color-accent, $amount: 10);
                }
            }
        }
        
    }
}

nav {
    background-color: $color-light;
    padding: 10px;
    width: 100%;
    @include respond-to(small_medium) {
        display: none;
    }

    ul {
        
        list-style-type: none;
        gap: 0px;
        display: none;
        @include respond-to(large) {
            display: flex;
            justify-content: center;
        }

        a {
            text-decoration: none;
            color: $color-dark;
            font-weight: bold;
            padding: 10px 20px;

            &:hover {
                color: $color-light;
                background-color: darken($color-primary, $amount: 10);
            }
        }
    }
}


main {
    flex: 1;
    padding: 20px;
    @include respond-to(large) {
        margin-top: 0;
    }

    .novedades {
        background-color: $color-primary;
        box-shadow: #000 0px 0px 15px 5px;
        border-radius: 5px;
        min-width: 450px;
        padding: 20px;
        margin: auto;
        display: flex;
        flex-direction: column;

        .section-header {
            padding: 10px 0px;
            display: flex;
            align-items: center;
            gap: 20px;
            text-shadow: darken($color-primary, $amount: 15) 5px 5px 0px;
            color: $color-light;

            .icono-fuego {
                font-size: 3em;
                margin: 5px 0px;
            }

            h2 {
                font-size: 2.5em;
            }
        }

        hr {
            border: 1px solid $color-light;
        }

        article {
            margin: 20px 0;
            padding: 10px;
            border-radius: 5px;
            background-color: darken($color-primary, $amount: 10);
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 100%;

            img {
                width: 200px;
                border-radius: 5px;
                margin: 5px;
            }
        }

        p {
            color: $color-light;
            padding: 40px;
            font-size: 2em;
            margin: auto;
        
            a {
                color: $color-primary;
                padding: 10px;
                text-decoration: none;
                background-color: $color-light;
                border-radius: 10px;
                font-weight: bold;
            }

            a:hover {
                background-color: darken($color-primary, $amount: 15);
                color: $color-light;
                box-shadow: darken($color-primary, $amount: 20) 5px 5px 10px;
            }
        }
    }
}