@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Inter:wght@100..900&display=swap");
.btn-1, .p-card .dropdown-content, .paginador a, .paginador {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jura", sans-serif;
}

html, body {
  height: 100%;
}

body {
  padding-top: 120px;
  min-height: 100vh;
  background-color: #181818;
  display: flex;
  flex-direction: column;
}
body::-webkit-scrollbar {
  display: none;
}

hr {
  border: none;
  border-top: 1px solid #fff;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  color: #fff;
  text-shadow: rgb(9.1456692913, 41.3543307087, 30.6181102362) 5px 5px 0;
}
.section-header .icono-header {
  font-size: 3em;
}
.section-header h2 {
  font-size: 2.5em;
}

.paginador {
  gap: 10px;
  margin-top: 20px;
}
.paginador a {
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-touch-callout: none;
  transition: 0.2s ease;
  width: 40px;
  height: 40px;
  padding: 20px;
  background-color: rgb(13.7637795276, 62.2362204724, 46.0787401575);
  border-radius: 10px;
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
}
.paginador a:hover:not(.activo) {
  background-color: #fa7900;
  transform: scale(1.2);
}
.paginador .activo {
  background-color: rgb(4.5275590551, 20.4724409449, 15.157480315);
  color: #17684d;
  font-weight: bold;
}
.paginador .icono-flecha {
  background-color: #17684d;
  border: 2px solid #fff;
}

.boton-insertar {
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-touch-callout: none;
  transition: 0.2s ease;
  display: block;
  width: 100%;
  margin: 20px auto 0;
  padding: 10px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  background-color: #fff;
  color: #17684d;
}
.boton-insertar:hover {
  background-color: #fa7900;
  color: #fff;
  box-shadow: rgb(4.5275590551, 20.4724409449, 15.157480315) 5px 5px 10px;
}

.p-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(#000 0%, #2b2b2b 50%, #000 100%);
  box-shadow: rgb(9.1456692913, 41.3543307087, 30.6181102362) 7px 7px 0 0;
  border-radius: 10px;
  padding: 10px;
}
.p-card p {
  color: #fff;
  padding: 5px;
}
.p-card .prod-nombre {
  font-weight: bold;
  font-style: italic;
  font-size: 1.5em;
}
.p-card .prod-precio {
  font-size: 1.3em;
}
.p-card .dropdown-btn {
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-touch-callout: none;
  transition: 0.2s ease;
  align-self: center;
  width: 370px;
  aspect-ratio: 3/4;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  margin: 5px;
  margin-bottom: 20px;
  box-shadow: #000 0 0 20px 10px;
  cursor: pointer;
}
.p-card .dropdown-btn:hover {
  transform: scale(1.05);
}
.p-card .dropdown-content {
  gap: 30px;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 150;
  width: 90%;
  max-width: 1300px;
  max-height: 0;
  padding: 20px;
  background-image: url("../../../img/fondo-huellas.jpg");
  background-size: cover;
  background-position: center;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: #000 0px 0px 15px 5px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.3s ease-in-out;
}
.p-card .dropdown-content.show {
  max-height: 90vh;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
@media (max-width: 1200px) {
  .p-card .dropdown-content {
    flex-direction: column;
    overflow-y: auto;
  }
  .p-card .dropdown-content::-webkit-scrollbar {
    display: none;
  }
}
.p-card .dropdown-content .dropdown-content-info {
  width: 90%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1725490196);
  border-radius: 10px;
  box-shadow: #000 0px 0px 15px 5px;
}
.p-card .dropdown-content .dropdown-content-info p, .p-card .dropdown-content .dropdown-content-info h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 1.2em;
  font-family: "Inter", sans-serif;
  text-shadow: #000 4px 4px 0;
}
.p-card .dropdown-content .dropdown-content-info .prod-nombre {
  font-size: 2em;
}
.p-card .dropdown-content .dropdown-content-info .prod-talla {
  justify-self: flex-start;
}
.p-card .dropdown-content .dropdown-content-info ul {
  list-style: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.631372549);
}
.p-card .dropdown-content .dropdown-content-info ul li {
  width: 95%;
  margin: auto;
}
.p-card .dropdown-content .imagen-dropdown {
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-touch-callout: none;
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: #000 0px 0px 15px 10px;
}

.btn-1 {
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-touch-callout: none;
  transition: 0.2s ease;
  width: 100%;
  max-width: 1000px;
  padding: 15px;
  margin: auto;
  margin-top: 20px;
  gap: 10px;
  background-color: #fa7900;
  color: #fff;
  text-decoration: none;
  font-size: 1.6em;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.btn-1:hover {
  background-color: rgb(255, 160.314, 71.5);
}

.btn-1.disabled {
  background-color: #5a5a5a;
  cursor: default;
}

header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../../../img/fondo-huellas.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid #fff;
}
header .logo {
  width: 400px;
  margin: 10px;
  transition: transform 0.2s ease;
}
@media (max-width: 670px) {
  header .logo {
    width: 178px;
  }
}
header .logo:hover {
  transform: scale(1.07) translateX(10px);
}
@media (min-width: 671px) {
  header .logo-small {
    display: none;
  }
}
@media (max-width: 670px) {
  header .logo-large {
    display: none;
  }
}
header .searchbar {
  display: none;
  width: 700px;
  height: 50px;
  border: 0;
  border-radius: 30px;
  padding-left: 30px;
  font-size: 1.2em;
  margin: 0 40px;
}
header .actions {
  color: #fff;
  text-align: center;
}
header .actions div {
  display: inline-block;
  width: 80px;
}
header .actions .icono-accion {
  color: #fff;
  font-size: 2.5em;
  margin-bottom: 5px;
  transition: 0.2s ease;
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  backface-visibility: hidden;
}
header .actions .icono-accion:hover {
  color: #fa7900;
  transform: translateY(-5px) scale(1.25);
  text-shadow: #fff 4px 4px 0;
}
header .actions .icono-accion.is-active {
  color: #fa7900;
}
header .actions .num-articulos {
  position: absolute;
  top: 0;
  background-color: #fa7900;
  border-radius: 10px;
  width: 30px;
  padding: 3px;
  margin-top: 45px;
  margin-left: 45px;
  z-index: 10;
  font-weight: bold;
  font-family: "Inter";
}
header .actions .dropdown {
  position: relative;
}
header .actions .dropdown .dropdown-btn {
  cursor: pointer;
}
header .actions .dropdown .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  width: 280px;
  flex-direction: column;
  box-shadow: #000 0px 0px 15px 5px;
  border: 2px solid rgb(199, 96.316, 0);
}
header .actions .dropdown .dropdown-content a {
  color: #fff;
  text-decoration: none;
  text-shadow: rgb(71.5, 34.606, 0) 2px 2px 0px;
  background: #fa7900;
  width: 100%;
  padding: 20px;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease;
}
header .actions .dropdown .dropdown-content a:hover {
  background-color: rgb(255, 173.472, 97);
}
header .actions .dropdown .dropdown-content .icono-dropdown {
  font-size: 1.5em;
}
header .actions .dropdown .dropdown-content hr {
  border: 1px solid rgb(199, 96.316, 0);
}
header .actions .dropdown .show {
  display: flex;
}

footer {
  width: 100%;
  padding: 30px 15px;
  background: linear-gradient(#464646 0%, #242424 20%, #242424 80%, #161616 100%);
}
footer .copy {
  display: flex;
  align-items: center;
  gap: 10px;
  text-shadow: 3px 3px 10px #000;
}
footer .copy i {
  font-size: 3em;
}
footer .copy p {
  color: #fff;
}

main {
  flex: 1;
  padding: 20px;
  color: #fff;
}
@media (min-width: 1201px) {
  main {
    margin-top: 0;
  }
}
main section {
  background-color: #17684d;
  box-shadow: #000 0px 0px 15px 5px;
  border-radius: 5px;
  min-width: 450px;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
main section .detalle-container {
  background-color: rgb(13.7637795276, 62.2362204724, 46.0787401575);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 20px;
  font-size: 1.3em;
  overflow-x: auto;
}
main section .detalle-container .info-bloque {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-wrap: nowrap;
  gap: 50px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 15px;
}
main section .detalle-container .info-bloque h3 {
  margin-bottom: 10px;
}
main section .detalle-container table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  background-color: rgb(9.1456692913, 41.3543307087, 30.6181102362);
}
main section .detalle-container table thead {
  background-color: rgb(4.5275590551, 20.4724409449, 15.157480315);
}
main section .detalle-container table th, main section .detalle-container table td {
  padding: 15px;
  text-wrap: nowrap;
}
main section .detalle-container .img-mini {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
main section .detalle-container .total-destacado {
  margin-top: 30px;
  font-size: 1.5em;
  text-align: right;
}/*# sourceMappingURL=detalle_pedido.css.map */